body{
    background-color: rgb(98, 98, 98);
}
.maincontent{
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: center;
}
.upload{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 10vh;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
}
